.imd{
  width: 100px;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body{
    height: 100%;
    width: auto;
    font-family: 'poppins', sans-serif;

}
h1{
  font-size: 2.5rem;
  font-weight: 700;
}
h2{
  font-size: 1.8rem;
  font-weight: 600;
}
h3{
  font-size: 1.4rem;
  font-weight: 800;
}
h4{
  font-size: 1.1rem;
  font-weight: 600;
}
h5{
  font-size: 1rem;
  font-weight: 400;
  color: black;
}
.modals{
  position:  fixed;
  padding-top: 100px;
  z-index: 1;
  top: 80px;
  padding: 30px;
  left: 60px;
  background-color: rgb(157, 119, 192);
  overflow: auto;
  width: 80%;
  height: 400px;
  margin: 30px;
box-shadow: 5px 5px 5px 5px black;
 
}
.next{
  position: relative;
 width: 50px;
 left: 270px;
 top: 10px;

 
}
.panier{
  width: 35px;
}
.next:hover{
cursor: pointer;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.spinner{
  border: 16px solid rgba(235, 226, 226, 0.87);
  border-radius: 50%;
  border-top: 16px solid  blue;
  width: 120px;
  height: 120px;
animation: spin 2s linear infinite;

}
@keyframes spin{
  to {transform: rotate(360deg);}
}
.close{
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 15px;
  color: #000000;
  padding: 15px 30px;
}
#account{
  cursor: pointer;
  color:#346fdd;
}
.box {
  padding: 20px;
  margin : 30px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.close:hover{
  box-shadow: 5px 5px 5px 5px grey;
  cursor: pointer;
  background: #6b11e0;
  transform: rotateY(20deg);
  font-size: 20px;
}
.btn-user{
  font-size: 15px;
  background-color: #48365f;

}
.btn-user:hover{
  background-color: #6b11e0;
  font-size: 20px; 
}
h6{
  color: #d8d8d8;
}
button{
  font-weight: 700;
  font-size: 0.8rem;
  outline: none;
  border: none;
  background-color: black;
  color: aliceblue;
  padding: 13px 30px;
  cursor: pointer;
  text-transform: uppercase;
  transition: 0.3 ease;
 }
 button :hover{
  background-color: #3a3833;
 }
 hr{
  width: 30px;
  height: 2px;
  background-color: #fb774b;
 }
 .star{
  padding: 10px 0;
}
.star i {
  color: gold;
 font-size: 0.8rem; 
}
.navbar{
  font-size: 16px;
  top: 0;
  left: 0;
  
}
.navbar-light .navbar-nav .nav-link{
  padding: 0 20px;
  color: black;
  transition: 0.3s ease;
  text-decoration: none;
  list-style-type:none;
}
.links{
  marker: none;
  text-decoration: none;
}
.nav-link:hover{
  color: #d4d3d8;
  font-size: 20px;
  text-decoration: none;
  list-style-type: none;
  background-color: #3021b4;
}
#account:hover{
  color: #d4d3d8;
  font-size: 20px;
  text-decoration: none;
  list-style-type: none;
  background-color: #3021b4;
}

.touch{
  color: #3021b4;
  font-size: 20px;
  text-decoration: none;
}
.navbar i{
font-size: 1.2rem;
padding: 0 12px;
cursor: pointer;
font-weight: 500;
transition: 0.3s ease;

}


#home span{
  color: coral;
 }
 .sub:hover{
cursor: pointer;
 }
 #home{
  background-image: url("/photos/nash_1.png");
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position:  top center;
  flex-direction: column;
  justify-content: center;
  display: flex;
  align-items: flex-start;
}
.img-fluid{
  width: 70%;
  height: 35vh;
  max-height: 35vh;
  box-shadow: 10px 10px 5px grey;
}

.rotate:hover{

  transform: rotateY(45deg);
  box-shadow: 10px 10px 5px grey;
  opacity: 1;
  box-shadow: #3a3833 4px;
  transition: transform 2s;

 
}
.product{
  cursor: pointer;
  margin-bottom: 2rem;
}
.product img {
  opacity: 0.7;
  transition: 0.3s all;
}


.product:hover img {
  opacity: 1;
  
}
.product .buy-btn {
  background: #fb774b;
  transform: translateY(20px);
  opacity: 0;
  transition: 0.3s all;
}
.product:hover .buy-btn {
  transform: translateY(0);
  opacity: 1;
  }
  .buy-btn:hover{
font-size: 20px;
  }
  #banner {
    background-image: url("/photos/b1.jpg");
    width: 100%;
    height: 60vh;
    background-size: cover;
    background-position: top 70px center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    flex-direction: column;
    justify-content: center;
    display: flex;
    align-items: flex-start;
  } 
  #banner h4{
    color: #d8d8d8;
  }
  #banner h1{
    color: #fff;
  }
  #banner button {
    background-color: #fb774b;
  }
  .ims-fluid:hover{
    
    cursor: pointer;
  }
  footer{
    background-color: #3a3833;
  }
  .footer-two { position: top end;
       text-align: end;
       display: contents;
  }
  .special{
    visibility: hidden;
    font-size: 1px;
  }
  footer h5 {
    color: black;
    font-weight: 700;
    font-size: 1.2rem;
  }
  footer li {
    padding-bottom: 4px;
    
  }
  footer li a {
    font-size: 0.8rem;
    color: black ;
  }
  footer li a:hover {
    color: black;
  }
  li {
    list-style-type: none;
  }
  footer p {
    color: black;
    font-size: 0.8rem;
   
  }
  footer p a {
    text-decoration: none;
    color: #f63e4e;
    font-weight: bold;
  }
  footer .copyright a {
    color: #fff;
    width: 38px;
    height: 38px;
    background-color: black;
    display: inline-block;
    text-align: center;
    transition: 5px;
    margin: 0 5px;
    position: left bottom;
  }
  footer .copyright a:hover{
    color: #fff;
    background-color: #fb774b;
  }
  .fin{
    text-align: center;
    line-height: 10vh;
  }
  .text-uppercase{
    color: black;
  }
  .sproduct select{
    display: block;
    padding: 5px 10px;
  }
 .sproduct input{
  width: 50px;
  height: 40px;
  padding-left: 10px;
  font-size: 16px;
  margin-right: 10px;
 }
 .sproduct input:focus{
  outline: none;
 }
 .buy-btn{
  background-color: #fb774b;
  opacity: 1;
  transition: 0.3s all;
 }
 .contact{
  position: relative;
  height: 100%;
 }
 .goal{
  box-shadow: 10px 10px 5px grey;
 }
 .gridbox, .orders{
display: flex;
flex-wrap: wrap;
justify-content: space-around;
align-items: center;
box-shadow:0 6px 20px 0 rgba(0, 0, 0, 0.19);
border-bottom-right-radius: 20px;
border-bottom-left-radius: 20px;
width: 100%;
 }
 .gridimg{
  display: grid;
  grid-template-columns: repeat(1,1fr);
  row-gap: 10px;
 }
 .imgorder{
  width: 200px;
  box-shadow:0 6px 20px 0 rgba(0, 0, 0, 0.19);
 }
 .cardorder{
  box-shadow:0 6px 20px 0 rgba(0, 0, 0, 0.19);

 }
 @media screen and (max-width:600px) {
 
  .next{
    display: none;
  }
  .modals{
    width:300px;
    margin-left:0px;
    font-size: small;
    height: 500px;
    padding-left: 0px;
  }
  .close{
    top: 0px ;
    
  }
 }
 